@media screen and(max-width: 768px) {
  html{
    position: relative;
    max-width: 768px;
    margin: 0px;
  }
  body{
    margin: auto;
    padding: 0px;
    background-image: url(img/bg_content.png);
    background-size: 40%;
    background-repeat:no-repeat;
  }
  .logo{
    position: absolute;
    top: -0px;
    left: 0px;
    width: 143px;
    padding: 0px;
    margin: 0px;
  }
  /*.article-header{
    position: relative;
    margin-left: 143px;
    background-color: #EA6568;
    width: 625px;
    height: 63px;
    border-radius:3px;
  }

  .article-header li{
    list-style:none;
    float:left;
    font-family:Arial Black;
    font-size:30px;
    color:#FFFFFF;
    margin-top:15px;
    padding-left: 45px;
    padding-right: 45px;
  }*/
  @media screen and(max-width: 320px) {
  }
}
